<div class="container">
  <h2 class="text-start ps-3"><strong>My Bookings:</strong></h2>
</div>
<br>
<div class="card-container">
  <div class="d-flex w-auto flex-wrap">
    <% @bookings.each do |booking| %>
      <div class="container m-3 shadow-sm" style="width: 18rem;">
        <!-- Booking card wrapper -->
        <div class="wrapper bg-light">
          <!-- Banner image -->
          <div class="banner-image">
            <%= cl_image_tag booking.item.photo.key, height: 250, crop: :fill, class: "w-100" %>
          </div>
          <!-- Title and Description -->
          <h1><%= booking.item.name %></h1>
          <p>
            <strong>Status:</strong>
            <% if booking.status == "pending" %>
              <span class="text-secondary"><%= booking.status %></span>
            <% else %>
              <span class="text-success"><%= booking.status %></span>
            <% end %>
            <br />
            <strong>From:</strong> <%= booking.start_date %><br />
            <strong>To:</strong> <%= booking.end_date %><br />
            <strong>Total:</strong>
            <%= (booking.end_date - booking.start_date).to_i * booking.item.price_per_day.round %> €
          </p>
        </div>
        <!-- Button wrapper -->
        <div class="button-wrapper">
          <%= link_to "Details", "#", class: "btn outline" %>
          <% if booking.status != "canceled" %>
            <%= link_to "Cancel", booking_path(booking), class: "btn fill text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" }, authenticity_token: true %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
