<div class="container">
  <h2 class="text-start ps-3"><strong>My Bookings:</strong></h2>
</div>
<br>
<div class="container">
 <% if @bookings == [] %>
    <p class="ms-3"> You don't have any bookings yet.</p>
    <%= link_to "Book an item!", items_path, class: "main-button mt-5 ms-3" %>
  <% else %>
  <div class = "row">
    <% @bookings.each do |booking| %>
      <div class = "col-md-4 mt-2 mb-5">
        <div class="card h-100 shadow-sm product-card"  style="width: 18rem;">
          <%= cl_image_tag booking.item.photo.key, height:250, crop: :fill, class:"bg-light card-img-top px-3 pt-3" %>
          <div class="card-body bg-light d-flex flex-column justify-content-between">
            <% if booking.status == "pending" %>
              <p class="bg-secondary badge rounded-pill status-badge m-0"><%= booking.status %></p>
            <% else %>
              <p class="text-white bg-success badge rounded-pill status-badge m-0"><%= booking.status %></p>
            <% end %>
            <h5 class="card-title mb-0 mt-3"><%= booking.item.name %></h5>
            <div class="mt-2">
              <p class="mb-2 text-grey fs-6 fw-light text-secondary">
                <small><%= booking.start_date.strftime("%d %b %Y")%> — <%= booking.end_date.strftime("%d %b %Y")%></small>
              </p>
              <div class="d-flex justify-content-between align-items-end">
                <p class="card-text m-0"><strong>Total: <%= (booking.end_date - booking.start_date).to_i * booking.item.price_per_day.round%><i class="fa-solid fa-euro-sign p-1"></i></strong></p>
                  <%= link_to "Cancel", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" }, class: "text-danger text-decoration-none", authenticity_token: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
