<section class="banner">
  <%= image_tag "LOGO.png", alt: "LOGO" %>
  <h1>LUX VAULT</h1>
  <h2>RENT LUXURIOUS WEAR PIECES</h2>
</section>

<section class="search">
   <%= form_with url: items_path, method: :get, class: "form-search" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control input bg-white",
            placeholder: "WHAT ARE YOU LOOKING FOR?"
        %>
      <%= submit_tag "DISCOVER", name: "", class: "search-button" %>
    <% end %>


</section>

<section class="gifts-section">
  <div class="gifts-container">
    <%= image_tag "Model-Book", class: "gifts-img", alt: "Model"%>
    <h2 class="gifts-h2">Gifts for her</h2>
    <%# <button class="gold-border-bottom-button gifts-button">EXPLORE THE SELECTION</button> %>
    <%= link_to "EXPLORE THE SELECTION", items_path, class: "gold-border-bottom-button gifts-button" %>
  </div>
  <div class="gifts-container">
    <%= image_tag "Model-ForRent", class:"gifts-img", alt: "Model"%>
    <h2 class="gifts-h2">Gifts for him</h2>
    <%# <button class="gold-border-bottom-button gifts-button">EXPLORE THE COLECTION</button> %>
    <%= link_to "EXPLORE THE COLECTION", items_path, class: "gold-border-bottom-button gifts-button" %>
  </div>
</section>

<h2 class="trending-h2">TRENDING THIS SEASON</h2>
<section class="trending">
  <%= image_tag "Model-Trending.jpg", class: "trending-img", alt: "Model"%>
  <div class="trending-text">
    <p class="trending-p">GUCCI GIFT: TO THE MOUNTAINS</p>
    <span class="trending-span">Presenting the second act of the four-part holiday campaign by Creative Director Sabato De Sarno, where shared experiences are etched into memory during a relaxing stop towards the festivities. </span>
    <%= link_to "EXPLORE", "https://www.gucci.com/pt/en_gb/st/stories/article/gucci-gift-to-the-mountains", class: "gold-border-bottom-button" %>
  </div>
</section>

<h2 class="categories-h2">LUX SERVICES</h2>
<section class="categories">
  <div class="cat-card">
    <%= image_tag "Model-Clothing-Category.jpg", class: "cat-card-img", alt: "Model" %>
      <p class="cat-card-p">CLOTHING</p>
      <span class="cat-card-span">Enjoy priority access to the clothing of your choice at the time and date that suits you.</span>
      <%= link_to "Book Clothing", items_path(category: "clothing"),class: "gold-border-bottom-button" %>
  </div>

  <div class="cat-card">
    <%= image_tag "Model-Accessory-Category.jpg", class: "cat-card-img", alt: "Model" %>
      <p class="cat-card-p">ACCESSORIES</p>
      <span class="cat-card-span">Order your accessories and collect them from your preferred boutique.</span>
      <%= link_to "Book Accessories", items_path(category: "accessories"),class: "gold-border-bottom-button" %>
  </div>

  <div class="cat-card">
    <%= image_tag "Model-Jewel-Category.jpg", class: "cat-card-img", alt: "Model" %>
      <p class="cat-card-p">JEWELRY</p>
      <span class="cat-card-span">Emboss select jewels from the collection to create a truly unique style.</span>
      <%= link_to "Book Jewelry", items_path(category: "jewelry"),class: "gold-border-bottom-button" %>
  </div>
</section>
