<h1>Items#new</h1>
<p>Find me in app/views/items/new.html.erb</p>

<%= simple_form_for(@item) do |f| %>
  <%= f.input :name %>
  <%= f.association :category %>
  <%= f.input :price_per_day %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
