<div class="container">
  <div class= "mb-5">
     <h5><%= link_to '<i class="fa-solid fa-arrow-left"></i> Go back'.html_safe, items_path, class: "text-decoration-none p-1 text-secondary"%></h5>
  </div>
  <div class="d-flex gap-5 bg-light p-4 shadow-sm border">
    <div class="image-show w-50 ratio ratio-1x1">
      <%= cl_image_tag @item.photo.key, crop: :fill, class: "border rounded w-100"  %>
    </div>
    <div class="d-flex flex-column justify-content-between gap-5 m-3 w-50">
      <div>

        <div class= "d-flex justify-content-between align-items-center">
          <h2 class="w-75"><strong><%= @item.name %> </strong></h2>
          <div>
            <p class="border border-secondary py-1 px-3 rounded-pill"><small><%= @item.category%></small></p>
          </div>

        </div>
        <div class= "d-flex align-items-end">
          <h2 class="mb-0 me-2 mt-3"><%= @item.price_per_day %> €</h2>
          <p class="m-1">/per day</p>
        </div>
      </div>
      <div class="w-100">
        <h2>Description</h2>
        <p class="mb-4 mt-2"><%= @item.description %></p>
        <%= link_to "BOOK", new_item_booking_path(@item), class: "btn main-button" %>
      </div>
    </div>
  </div>
</div>
